* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    font-family: 'OpenSans', sans-serif;
}

.btn {
    color: $white;
    font-size: 18px;
    border: 0;
    border-radius: 30px;
    background: $softRed;
    padding: 15px 30px;
}

.header {
    background: url('../../img/header_bg.png') no-repeat center / cover;
    height: 100vh;

    .container {
        height: 100%;

        .nav {
            height: 15%;

            &__list-link {
                margin-left: 50px;

                a {
                    color: $white;
                    font-size: 18px;
                }
            }

        }

        .header__content {
            height: 85%;
            width: 100%;


            &-text {
                width: 50%;
                height: 100%;
                position: relative;


                &-reg {
                    position: absolute;
                    bottom: 0;
                    transform: translateY(60%);
                    border-top: 10px solid $darkBlue;
                    width: 72%;
                    border-radius: 20px;
                    background: $softRed;

                    h2 {
                        color: $white;
                        font-size: 30px;
                        margin: 30px 0 15px 0;
                    }

                    .white-line {
                        height: 1px;
                        width: 17%;
                        background: $white;
                    }

                    .reg-text {
                        margin: 10px;
                        font-size: 20px;
                        font-weight: 300;
                        letter-spacing: 3px;
                        margin: 35px 0 15px 0;
                    }

                    .email-submit {
                        width: 70%;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 50px;

                        input[type=email] {
                            height: 40px;
                            width: 80%;
                            border: 0;
                            padding-left: 20px;
                            border-radius: 50px 0 0 50px;
                        }

                        button[type=submit] {
                            height: 40px;
                            width: 20%;
                            border: 0;
                            background: $darkBlue;
                            border-radius: 0 50px 50px 0;

                            i {
                                color: $white;
                            }
                        }
                    }
                }

                h1 {
                    font-size: 70px;
                    color: $white;
                }

                p {
                    font-size: 17px;
                    line-height: 30px;
                    color: $white;
                    margin: 40px 0 50px 0;
                }

            }

            &-box {
                width: 50%;
                height: 90%;
                position: relative;

                img {
                    margin-top: 20px;
                    width: 95%;
                    height: 95%;
                    object-fit: contain;
                    position: absolute;
                }

                .box {
                    position: absolute;
                    border-radius: 30px;
                    margin-top: 20px;
                    color: white;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        text-transform: uppercase;
                        margin: 20px 0;
                    }

                    p {
                        text-transform: uppercase;
                        padding: 0 20px;
                        text-align: center;
                    }

                    i {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}